{% extends 'base.html' %}

{% block title %} Borrar Post {% endblock %}

{% block content %}




</br><br>
<h1>Borrar Post</h1>
<hr>
</br><br>

<h3>Borrar: {{ post.title }}</h3>
{% if user.id == post.author.id %}
<div class="form-group">

	<form method="POST">
		{% csrf_token %}
		<p class="fs-3 fw-bold text-center">¿Estas Seguro?</p>
		</br>
		</br>
		<div class="d-flex justify-content-center"><button class="btn btn-danger">Borrar Post</button></div>
	</form>
{% endif %}
</div>




{% endblock %}