{% extends 'base.html'%}
{% block content %}

    </br><br>
    <div class="">
        <h2>Misión</h2>
        <p>
            Promover el intercambio cultural y el desarrollo humano a traves de la educación, la palabra y la música, favoreciendo la inclusión de niños, jóvenes y adultos en situación de riesgo. 
            <br>
            Utilizar el arte y el lenguaje como pilares fundamentales. 
            <br>
            Promover y profundizar el estudio de la música como una alternativa creadora, de disciplina personal y proyecto de vida, que brinde posibilidades a los jóvenes ayudandolos a profesionalizar el arte adoptándolo como medio de vida. 
            <br>
            Impulsar la creación de orquestas infantiles y juveniles entendiendo estos espacios como una herramienta de trasnformación social.

        </p>
        <h2>Objetivos</h2>
        Con el proyecto se persigue alcanzar inclusión social, fortaleciendo en sentido de pertenencia, mejorando la asistencia a clases, estimulando la creatividad y el buen gusto a través de la enseñanza de la música.
        
        </br><br>
            <div class="col-8">
                 {% load static %}<img src={% static "mision.png"%} class="d-block w-100" class="rounded mx-auto d-block" style="">
             </div>
        </br><br>

        <h5>Impacto social del proyecto </h5>
            <p>Desde sus inicios a la actualidad el Proyecto “Vientos de Cambio” ha logrado que quienes la integraron e integran, se capaciten y progresen, eligiendo algunos, la música como medio de vida.</p>
            <p>Hay que destacar que algunos de sus primeros integrantes hoy son técnicos en dirección de orquestas infantiles y juveniles, formación realizada a través de un acuerdo con el Instituto Combate Mbororé de Posadas, de la provincia de Misiones.</p> 
            <p>Participaron en encuentros de orquestas provinciales, nacionales e internacionales, como Iguazú en concierto y el festival de las Tres Fronteras.</p>
            <p>Algunos fueron parte de la formación de la orquesta infantil nacional “Manuel Belgrano” y la juvenil “Juana Azurduy”. Formadas por el SOIJAR.</p>
            <p>En el año 2014 por iniciativa del Instituto de Cultura del Chaco la orquesta fue parte de los Encuentros Provinciales “Chaco Sonando”, festival del que a partir del año 2016 se hace cargo el equipo de trabajo de Vientos de Cambio, junto a la orquesta de Cruce Viejo, debido a que el instituto de cultura decide no realizar más dicho encuentro. Por tal motivo fueron realizadas en Pcia Roque Sáenz Peña, las ediciones de este encuentro desde 2016 hasta 2021.</p>
            
            <p>¿Qué hicimos desde el inicio?</p>
            <ul class="list-group list-group-numbered">
                <li class="list-group-item">Hemos logrado un espacio valioso de expresión,  para los niños, adolescentes y adultos.</li>
                <li class="list-group-item">La formación musical permitió afianzar conductas de orden,  limpieza, disciplina, compañerismo, amistad, respeto por la creación del otro.</li>
                <li class="list-group-item"> Elevar la estima de los niños.</li>
                <li class="list-group-item"> Dictado de conciertos didácticos en otras escuelas.</li>
                <li class="list-group-item"> Participación en eventos nacionales, regionales y locales.</li>
                <li class="list-group-item"> Por la orquesta, la mirada hacia la zona cambió notablemente. Hemos conseguido un colegio secundario para la zona.</li>
                <li class="list-group-item"> Crear un ambiente de solidaridad.</li>
                <li class="list-group-item"> Brindar elementos que permitan crecimiento interior y social de los alumnos de la escuela de música.</li>
                <li class="list-group-item"> Afianzar el sentido de pertenencia.</li>
                <li class="list-group-item"> Una posibilidad para que los que deseen estudiar música tengan las herramientas básicas para su éxito.</li>
                <li class="list-group-item"> Los adolescentes que están avanzados en su aprendizaje musical participan en la formación de otros niños en otras escuelas (Escuela N° 240 De Concepción del Bermejo”) y lugares (Teatro “La Usina”) donde tenemos células de trabajo.</li>
                <li class="list-group-item"> Cuatro de nuestros adolescentes ya son parte de la orquesta del SOIJAR, donde pueden ejecutar piezas con cierto grado de complejidad.</li>
                <li class="list-group-item"> La escuela primaria, jardín de infantes, y secundaria compenetradas con el área de música como eje transversal de las actividades.</li>
                <li class="list-group-item"> La escuela desde el inicio del proyecto comenzó a abrirse a la comunidad. Se trabaja en contra turno y los días sábados de 8 a 12.</li>
                <li class="list-group-item"> Los padres comenzaron a valorar las actividades que realiza su niño en la escuela.</li>
                <li class="list-group-item"> La asistencia a clase se ha mejorado notablemente.</li>
                <li class="list-group-item"> La matrícula de la escuela se duplicó.</li>
            </ul>
    </div>
        

    <a href="{% url 'Inicio' %}" class="btn btn-dark">Volver</a>


{% endblock %}