{% extends 'base.html'%}
{% block content %}

    </br><br>
    <h1>* UN POCO DE HISTORIA * </h1>
    <p><em>
        “Vientos de Cambio” surge como una necesidad de brindar a los niños, adolescente y adultos de la comuinidad. uun espacio para el desarrollo integral a travès de la mùsica. Los objetivos del proyecto son la inclusiòn social, fortaleciendo en sentido de pertenencia, mejorando la asistencia a clases, estimulando la creatividad y el buen gusto a través de la enseñanza de la música.
    
    
    </em></p>

    <h2 align ="center" ><a>{% load static %}
        <img src={% static "cabraloca.gif" %} height="100">
      </a></h2>
    
    </br><br>


    <a href="{% url 'Inicio' %}" class="btn btn-dark">Volver</a>


{% endblock %}