{% extends 'base.html'%}
{% block content %}

    </br><br>
    <h1>* UN POCO DE HISTORIA * </h1>
    <div class="bd-example">
    <div class="text-left"><font size=4>
    
        <p> El Proyecto nace el 11 de noviembre de 2007, con clases de enseñanza de teoría y solfeo. Con la ayuda de los padrinos de la escuela  se compraron de 9 instrumentos.</p>
        <p>Durante meses trabajamos en contra turno, con la enseñanza de percusión ,clarinete, saxo, trombón , trompeta y bombardino.(éramos dos profesores ad honorem)</p>
        <p>Después de 6 meses la Banda se presenta con 13 integrantes en un encuentro de danzas, realizando la apertura del mismo. Esto permitió que otros se sumaran. Se formó una comisión de padres, para juntar fondos para la compra de otros instrumentos. En el mes de julio adquirimos tres instrumentos nuevos.</p>
        <p>Durante el 2008, trabajamos en forma ardua durante la tarde con la enseñanza de música y los sábados ensayos generales.</p>
        <p>La banda a fines de 2008 tenía 22 integrantes. Desde ese momento la Banda es el orgullo de la comunidad. Las personas del lugar  se apropiaron del proyecto.</p>
        <p>A fines de 2008 los padrinos hacen un esfuerzo enorme, consiguen que viajemos a Bs As. A  tocar en el teatro Santa María de Capital Federal, en el marco de jornadas de solidaridad para con la Banda y la escuela. El impacto en las madres y chicos, de aquel viaje, fue grandioso en cuanto a  lo  emocional.</p>
        <p>Los vínculos fueron creciendo a través del tiempo y en el 2009 hicimos contacto con la Orquesta del Cruce Viejo, Puerto Tirol, Chaco, esto  permitió conocer gente que nos daría una mano en lo profesional y humano. Hicimos un encuentro, realizando de talleres de música,  que culminó en un concierto en Puerto Tirol.</p>
        <p>En el 2010 pudimos participar del III Festival de Orquestas Infanto-juveniles que se realizó en Chascomús. Eso fue impresionante por lo que hemos aprendido como músicos y los vínculos que hemos podido crear con profesores y alumnos.</p>
        <p>El Proyecto participó en un concurso “Nuestro Lugar” organizado por SENAF y fue premiado con $ 30.000. Esto nos permitió llevar adelante la segunda etapa, que fue la incorporación de cuerdas.  En el mismo año pudimos con la ayuda de gente solidaria armar la segunda parte, y el el mes de julio del mismo año se comenzó a enseñar cuerdas.</p>
        <p>En  noviembre de 2010 organizamos el primer encuentro de orquestas infanto-juveniles en Pcia Roque  Sáenz Peña. Nos visitaron referentes del Sistema de Orquestas Infantiles y Juveniles de Argentina (SOIJAR)con sede en Chascomús, quienes dictaron los cursos de capacitación para profesores de la zona y alumnos de las orquestas. Además contamos con la presencia de  la orquesta del Cruce Viejo, integrantes de la orquesta de Formosa, tres violinistas de Corrientes, cuatro integrantes de una banda de Villa Angela. Fueron tres días intensivos de trabajo que culminaron con conciertos en casa de La Cultura de la ciudad de Sáenz Peña y teatro La Usina.</p>
        <p>En los meses siguientes la actividad no ha cesado porque vemos el crecimiento en lo musical, y humano del grupo. Actualmente somos 68 (los que estudian y los tocan)</p>
        <p>Desde sus inicios a la actualidad el proyecto “Vientos de Cambio” ha logrado de sus integrantes se capaciten y progresen, eligiendo algunos, la música cómo medio de vida; algunos de sus primeros integrantes hoy son técnicos en dirección de orquestas infantiles y juveniles, título obtenido a través de un acuerdo con el Instituto Combate Mbororé de Posadas, Misiones. </p>
        <p>Participaron en encuentros de orquestas provinciales, nacionales e internacionales, como Iguazú en concierto y el festival de las Tres Fronteras.</p>
        <p>Algunos fueron parte de la formación de la orquesta infantil nacional “Manuel Belgrano” y la juvenil “Juana Azurduy”. Formadas por el SOIJAR.</p>
        <p>En el año 2014 por iniciativa del Instituto de Cultura del Chaco la orquesta fue parte de los Encuentros Provinciales “Chaco Sonando”, festival del que a partir del año 2016 se hace cargo el equipo de trabajo de Vientos de Cambio, junto a la orquesta de Cruce Viejo, debido a que el instituto de cultura decide no realizar más dicho encuentro. Por tal motivo fueron realizadas en Pcia Roque Sáenz Peña, las ediciones de este encuentro desde 2016 hasta 2021.</p>
        
        <p>¿Qué cambió desde el inicio?</p>
        <ul class="list-group">
        <li class="list-group-item">1- Hemos logrado un espacio valioso de expresión,  para los niños, adolescentes y adultos.</li>
        <li class="list-group-item">2- La formación musical permitió afianzar conductas de orden,  limpieza, disciplina, compañerismo, amistad, respeto por la creación del otro.</li>
        <li class="list-group-item"> 3- Elevar la estima de los niños.</li>
        <li class="list-group-item"> 4- Dictado de conciertos didácticos en otras escuelas.</li>
        <li class="list-group-item"> 5- Participación en eventos nacionales, regionales y locales.</li>
        <li class="list-group-item"> 6- Por la orquesta, la mirada hacia la zona cambió notablemente. Hemos conseguido un colegio secundario para la zona.</li>
        <li class="list-group-item"> 7- Crear un ambiente de solidaridad.</li>
        <li class="list-group-item"> 8- Brindar elementos que permitan crecimiento interior y social de los alumnos de la escuela de música.</li>
        <li class="list-group-item"> 9- Afianzar el sentido de pertenencia.</li>
        <li class="list-group-item"> 10- Una posibilidad para que los que deseen estudiar música tengan las herramientas básicas para su éxito.</li>
        <li class="list-group-item"> 11- Los adolescentes que están avanzados en su aprendizaje musical participan en la formación de otros niños en otras escuelas (Escuela N° 240 De Concepción del Bermejo”) y lugares (Teatro “La Usina”) donde tenemos células de trabajo.</li>
        <li class="list-group-item"> 12- Cuatro de nuestros adolescentes ya son parte de la orquesta del SOIJAR, donde pueden ejecutar piezas con cierto grado de complejidad.</li>
        <li class="list-group-item"> 13- La escuela primaria, jardín de infantes, y secundaria compenetradas con el área de música como eje transversal de las actividades.</li>
        <li class="list-group-item"> 14-La escuela desde el inicio del proyecto comenzó a abrirse a la comunidad. Se trabaja en contra turno y los días sábados de 8 a 12.</li>
        <li class="list-group-item"> 15- Los padres comenzaron a valorar las actividades que realiza su niño en la escuela.</li>
        <li class="list-group-item"> 16-La asistencia a clase se ha mejorado notablemente.</li>
        <li class="list-group-item"> 17-La matrícula de la escuela se duplicó.</li>
        </ul>
    
    </font></div>
    </div>
    <h2 align ="center" ><a>{% load static %}
        <img src={% static "cabraloca.gif" %} height="100">
      </a></h2>
    
    </br><br>


    <a href="{% url 'Inicio' %}" class="btn btn-dark">Volver</a>


{% endblock %}