{% extends 'base.html'%}
{% block content %}

    </br><br>
    <div class="container text-center"></div>
    <h1>UN POCO DE HISTORIA </h1>
    <div class="bd-example">
    <div class="text-left"><font size=4>
    
        <p>La Orquesta "Vientos de Cambio" tuvo su inicio un 11 de noviembre de 2007 como parte de un proyecto especial de la Escuela Rural "Narcisa Pibernus de Juarez" Nº 155 ubicada en Colonia Rivadavia, lote 83, a unos 12 kilómetros de la ciudad Presidencia Roque Sáenz Peña, con el objetivo de evitar la disminución en la matrícula. Como el establecimiento no contaba con nivel inicial ni secundario, se comenzaron a dictar clases de teoría y solfeo. Gracias al aporte de padrinos de la escuela se lograron obtener los primeros nueve instrumentos.</p>
        <p>Las primeras actividades en la institución se materializaron con el trabajo ad honorem y a contra turno de profesores enseñando percusión, clarinete, saxo, trombón, trompeta y bombardino.</p>
        <div class="row justify-content-center">
         <div class="col-8">
            {% load static %}
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                  <img src={%static "camino_a_la_escuela.jpg"%} class="d-block w-100" alt=" ">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                  <img src={%static "colonia_elisa.jpg"%} class="d-block w-100" alt=" ">  
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                  <img src={%static "pozo_campo.jpg"%} class="d-block w-100" alt=" ">  
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            
            
            
         </div>   
        </div>
        
        <br>
        <p>Se constituye una Banda con 13 integrantes, y después de 6 meses se realiza la primera presentación en un encuentro de danzas, realizando la apertura del mismo. Esto permitió visibilizar el trabajo de la orquesta y de esta manera empezaron a sumarse más interesados. Se constituyó una comisión de padres, para juntar fondos para la compra de otros instrumentos, adquiriéndose, en el mes de julio, tres instrumentos nuevos.</p>
        <p>Durante el 2008, trabajamos en forma ardua durante la tarde con la enseñanza de música y los sábados se realizaban los ensayos generales.</p>
        <p>La banda a fines de 2008 tenía 22 integrantes. Desde ese momento la Banda es el orgullo de la comunidad. Las personas del lugar  se apropiaron del proyecto.</p>
        <p>A fines de 2008, gracias a un gran esfuerzo de los padrinos, se consigue realizar un viaje a Buenos Aires donnde los chicos tocaron en el teatro Santa María de Capital Federal, en el marco de jornadas de solidaridad para con la Banda y la escuela. Este viaje generó un importante y grandioso impacto en los chicos y madres que acompañaron.</p>
        <div class="text-center">
            <div class="row justify-content-center">
             <div class="col-8">
                <div id="carouselExampleInterval2" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">

                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src={%static "ensayo.jpg"%} class="d-block w-100" alt=" ">
                      
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                      <img src={%static "viaje_bs_as.jpg"%} class="d-block w-100" alt=" ">  
                        
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src={%static "concierto_bs_as.jpg"%} class="d-block w-100" alt=" ">
                        
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                
                
                
             </div>   
            </div>
            
            
            
        </div>
        
        <p>Los vínculos fueron creciendo a través del tiempo y en el 2009 se contactó con la Orquesta del Cruce Viejo, de Puerto Tirol, otra localidad de Chaco. Este encuentro posibilitó conocer personas que aportaron al crecimiento profesional y humano. Se logró un encuentro, realizando de talleres de música,  que culminó en un concierto en esa ciudad.</p>
        <p>En el año 2010 se consiguió participar del III Festival de Orquestas Infanto-Juveniles realizado en Chascomús, provincia de Buenos Aires. Ser partícipes de este evento trajo importantes aportes a la Banda, por los conocimientos adquiridos como músicos y los vínculos creados con profesores y alumnos.</p>
        <p>También, con el Proyecto se participó en un concurso “Nuestro Lugar” organizado por SENAF logrando un premio económico de $ 30.000. Esto permitió llevar adelante una segunda etapa de la Banda, la incorporación de instrumentos decuerdas.  En el mes de julio de ese mismo año, y con la ayuda de personas solidarias se comenzó a enseñar cuerdas.</p>
        <p>En el mes de noviembre de ese año se organizó el primer encuentro de orquestas Infanto-Juveniles en Presidencia Roque Sáenz Peña. Recibimos la visita de referentes del Sistema de Orquestas Infantiles y Juveniles de Argentina (<a href="https://www.sistemadeorquestas.org.ar/"> SOIJAR</a>) con sede en Chascomús, quienes dictaron los cursos de capacitación para profesores de la zona y alumnos de las orquestas. Además contamos con la presencia de la orquesta del Cruce Viejo, integrantes de la orquesta de Formosa, tres violinistas de Corrientes, cuatro integrantes de una banda de Villa Angela. Fueron tres días intensivos de trabajo que culminaron con conciertos en casa de La Cultura de la ciudad de Sáenz Peña y el teatro La Usina.</p>
        <p>En el año 2013 el Ministerio de Educación Provincial decide crear la escuela de nivel secundario Nº 197, inicialmente con modalidad bachiller pero después se consolida la modalidad en educación artísica: música, siendo la única escuela de gestión estatal en la provincia.</p>
        <p>En los meses siguientes la actividad de la Banda se incrementó, consolidándose un grupo fuerte, tanto en lo musical como lo humano.</p>
        <p>Actualmente la Banda cuenta con 68 integrantes que estudian e interpretan, al menos, un instrumento</p>
        <br>
        
        
    </font>



    
    </br><br>
    <div class = "container col-8">

        <div class  = "ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SNi6UxcytmE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </br><br>

        <div class  = "ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uFtvWVmisXc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </br>
    </div>
  <a href="{% url 'Inicio' %}" class="btn btn-dark">Volver</a>


{% endblock %}